<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Store Image Upload Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../../site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../../site.js"></script>
   
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


  <nav class="navbar navbar-expand-md navbar-default fixed-top justify-content-between">
    
    <a class="navbar-brand" href="#">
      <img src="../../public/images/canadian-maple.png" alt="Logo" style="width:40px;">
      Demo
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav  ml-auto nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>


    




<div class="jumbotron text-center">
  
  <div id="toronto" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#toronto" data-slide-to="0" class="active"></li>
      <li data-target="#toronto" data-slide-to="1"></li>
      <li data-target="#toronto" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../public/images/torontoskyline.jpg" alt="Toronto street" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../public/images/cntower.jpg" alt="Toronto" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../public/images/torontoskyline.jpg" alt="toronto skyline" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#toronto" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#toronto" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <h1>Frank Xiao</h1> 
  <p>Specialize in Angular, SQL, Java</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  {{{body}}}
</div>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Website Made By <a href="https://www.senecacollege.ca" title="Visit w3schools">Seneca College applied research and innovation centre</a></p>
</footer>

 
</body>
</html>
