<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Store Image Upload Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/site.js"></script>
   
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-expand-md navbar-default fixed-top ">  
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" alt="Demo" style="width:40px;">  
      Demo   
    </a> 
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto ">
        {{!-- ml-auto nav-fill --}}
          {{#navLink "/"}}Home{{/navLink}}
    
       {{#if session.user }}
          {{#navLink "/images/add"}}Add Image{{/navLink}}
          {{#navLink "/images"}}Images{{/navLink}}
      </ul>
        <form class="form-inline my-2 my-lg-0"></form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}&nbsp;&nbsp;<span
                class="caret"></span>
            </button>
            <ul class="btn-primary dropdown-menu" style="background-color: #007bff" aria-labelledby="userMenu">
              <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </form>
          
        {{else}}
          </ul>
            <form class="form-inline my-2 my-lg-0"></form>
              <a href="/register" class="btn btn-primary my-2 my-sm-0"><span
                  class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
              <a href="/login" class="btn btn-success my-2 my-sm-0"><span
                  class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
            </form>          
        {{/if}} 
    </div>
  </nav>

<div class="jumbotron text-center">
  
  <div id="toronto" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#toronto" data-slide-to="0" class="active"></li>
      <li data-target="#toronto" data-slide-to="1"></li>
      <li data-target="#toronto" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/sky.jpg" alt="sky" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/images/toronto.jpg" alt="Toronto" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/images/sunrise2.jpg" alt="sea" width="1100" height="500">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#toronto" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#toronto" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <h1>Website for upload image</h1> 
  <p>This is a demo</p> 
</div>

<div class="container">
  {{{body}}}
</div>


<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Website Made By <a href="https://www.senecacollege.ca" title="Visit w3schools">Seneca College applied research and innovation centre</a></p>
</footer>

 
</body>
</html>
